.createConversationHeaderTitle {
  position: absolute;
  width: 100%;
  color: rgb(255, 255, 255);
  left: 50%;
  top: 5%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.createConversationHiddenOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
}

.createConversationOpaquePanel {
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(143, 141, 141, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 320px;
  height: 250px;
  position: relative;
  text-align: center;
}

.titleTextBoxStyle {
  color: rgb(204, 202, 199);
  background-color: rgba(119, 115, 115, 0.2);
  border: 2px solid #4f4c4c;
  border-radius: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 50%;
  width: 80%;
  height: 50px;
  padding: 0px 0px 0px 15px;
  box-sizing: border-box;
}

.titleTextBoxStyle::placeholder {
  color: rgb(204, 202, 199);
}

.titleTextBoxStyle:focus {
  outline: none;
}

.modelDropdownBoxStyle {
  background-color: rgba(119, 115, 115, 0.2);
  border: 2px solid #4f4c4c;
  border-radius: 30px;
  color: rgb(204, 202, 199);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 61%;
  left: 50%;
  width: 80%;
  height: 50px;
  margin: 0;
  padding: 0px 15px;
}

.modelDropdownBoxStyle:focus {
  outline: none;
}

.confirmButtonStyle {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
}
