.textBox {
  position: relative;
  display: block;
  margin-top: 10px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.registerHiddenOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
}

.registerMainPanel {
  padding: 2rem;
  border-radius: 8px;
  color: rgb(204, 202, 199);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  width: 400px;
  height: 350px;
  position: relative;
  text-align: center;
}

.registerTextHeaderStyle {
  color: rgb(255, 255, 255);
  position: absolute;
  transform: translate(-50%);
  top: 0%;
  left: 50%;
  text-align: center;
  text-wrap: nowrap;
}

.registerUsernameTextBoxStyle {
  position: absolute;
  transform: translate(-50%);
  color: rgb(255, 255, 255);
  background-color: rgba(119, 115, 115, 0.2);
  border: 2px solid #4f4c4c;
  border-radius: 30px;
  top: 27%;
  left: 50%;
  width: 80%;
  height: 50px;
  padding: 0px 0px 0px 15px;
  box-sizing: border-box;
}

.registerPasswordTextBoxStyle {
  position: absolute;
  transform: translate(-50%);
  color: rgb(255, 255, 255);
  background-color: rgba(119, 115, 115, 0.2);
  border: 2px solid #4f4c4c;
  border-radius: 30px;
  top: 45%;
  left: 50%;
  width: 80%;
  height: 50px;
  padding: 0px 0px 0px 15px;
  box-sizing: border-box;
}

.registerConfirmPasswordTextBoxStyle {
  position: absolute;
  transform: translate(-50%);
  color: rgb(255, 255, 255);
  background-color: rgba(119, 115, 115, 0.2);
  border: 2px solid #4f4c4c;
  border-radius: 30px;
  top: 63%;
  left: 50%;
  width: 80%;
  height: 50px;
  padding: 0px 0px 0px 15px;
  box-sizing: border-box;
}

.registerUsernameTextBoxStyle::placeholder,
.registerPasswordTextBoxStyle::placeholder,
.registerConfirmPasswordTextBoxStyle::placeholder {
  color: rgb(204, 202, 199);
}

.registerUsernameTextBoxStyle:focus,
.registerPasswordTextBoxStyle:focus,
.registerConfirmPasswordTextBoxStyle:focus {
  outline: none;
}

.registerButton {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  top: 81%;
  height: 50px;
  display: flex;
}
