/* src/components/Button.css */
.button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background-color: #444;
  /* background-color: rgba(211, 211, 211, 0.6); */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  box-sizing: border-box;
}

.button:hover {
  background-color: rgba(211, 211, 211, 0.4);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
