/* src/components/TextBox.css */
.text-box {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #4f4c4c;
  padding: 10px;
  margin: 10px;
}

.text-box:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
