.textBlock {
  margin: 30px;
  max-width: 50%;
  border: 1px solid #ccc; /* Example border styling */
  color: #d6d6cb;
  border-radius: 10px; /* Adjust the border radius as needed */
}

.textBlock.left {
  text-align: left;
  padding-left: 15px;
  max-width: 100%;
  background-color: #44444434;
}

.textBlock.right {
  width: fit-content;
  text-align: left;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
